package components

templ Footer() {
  <nav class={flex(), spacing()}>
    <header data-testid="headerTemplate">
      <h1>Docx</h1>
    </header>
    <a>docs</a>
    <a>sites</a>
    <a>tech</a>
  </nav>
}