package components

// css
css all() {
  padding: 0;
  margin: 0;
}
css flex() {
  display: flex;
  justify-content: center;
}
css col() {
  flex-direction: column;
}
css sleeve() {
  width: 1200px;
}
css textColor() {
  color: white;
}
css spacing() {
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
css footerbox() {
  border-radius: 12px;
  background-color: #FFC000;
  color: black;
}
css pagePadding() {
  padding: 2rem 2rem;
}