package components

// css
css all() {
  font-family: 'Work Sans';
  font-size: 18px;
  padding: 0 1rem;
  margin: 0;
}
css flex() {
  display: flex;
  justify-content: center;
}
css col() {
  flex-direction: column;
}
css textColor() {
  color: white;
}
css spacing() {
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
css footerbox() {
  border-radius: 12px;
  background-color: #FFC000;
  color: black;
}
css pagePadding() {
  padding: 2rem 2rem;
}