package components

// css
css flex() {
  display: flex;
  justify-content: center;
}
css col() {
  flex-direction: column;
}
css sleeve() {
  max-width: 1200px;
}
css textColor() {
  color: white;
}
css spacing() {
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}