package components

import (
  "main/models"
)

templ Topic(topics []models.Topic) {
    @Base("Docx") {
        <section class={flex(), col(), pagePadding()}>
            for _, topic := range topics {
                <div>
                    <h2>{topic.Title}</h2>
                    <p>{topic.Paragraph}</p>
                </div>
            }
        </section>
    }
}